# R & RStudio files
*.Rproj
.Rproj.user
.Rhistory
.Rdata

# ignore datasets if too large (> 100 MB)
# specify pathway to dataset data/project_dataset.csv
# if all datasets are too large then use data/*.csv (only ignores CSVs)
# if you have other file types then use appropriate extension data/*.rds

# mac related files
.DS_Store
**/.DS_Store

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
data/folds.rda

# Attempt 1
attempt_1/results/en_tuned.rda
attempt_1/results/en_tuned3.rda
attempt_1/results/en_tuned4.rda
attempt_1/results/mars_tuned.rda
attempt_1/results/rf_tuned2.rda
attempt_1/results/rf_tuned3.rda
attempt_1/results/svm_poly_tuned.rda
attempt_1/results/svm_radial_tuned.rda
attempt_1/results/svm_radial_tuned1.rda
attempt_1/results/svm_radial_tuned2.rda
attempt_1/results/svm_radial_tuned3.rda

attempt_1/setups/setup.rda
attempt_1/setups/setup2.rda
attempt_1/setups/setup3.rda
attempt_1/setups/setup6.rda
attempt_1/setups/setup8.rda

git rm --cached 

# Attempt 2
attempt_2/results/en_tuned.rda
attempt_2/results/bt_tuned.rda
attempt_2/results/knn_tuned.rda
attempt_2/results/mars_tuned.rda
attempt_2/results/nn_tuned.rda
attempt_2/results/svm_poly_tuned.rda
attempt_2/results/svm_radial_tuned.rda

attempt_2/setups/setup_1.rda


# Attempt 3
attempt_3/setups/setup_1.rda

attempt_3/results/rf_tuned.rda
attempt_3/results/svm_poly_tuned.rda
attempt_3/results/svm_radial_tuned.rda
attempt_1/results/svm_poly_tuned.rda
attempt_1/results/en_tuned.rda
attempt_1/results/en_tuned3.rda
attempt_1/results/en_tuned4.rda
attempt_1/results/mars_tuned.rda
attempt_1/results/rf_tuned2.rda
attempt_1/results/rf_tuned3.rda
attempt_1/results/svm_radial_tuned1.rda
attempt_1/results/svm_radial_tuned2.rda
attempt_1/results/svm_radial_tuned.rda
attempt_1/results/svm_radial_tuned3.rda
attempt_1/setups/setup.rda
attempt_1/setups/setup8.rda
attempt_1/setups/setup6.rda
attempt_1/setups/setup2.rda
attempt_1/setups/setup3.rda
attempt_2/results/svm_poly_tuned.rda
attempt_2/results/en_tuned.rda
attempt_2/results/nn_tuned.rda
attempt_2/results/bt_tuned.rda
attempt_2/results/knn_tuned.rda
attempt_2/results/mars_tuned.rda
attempt_2/results/svm_radial_tuned.rda
attempt_2/setups/setup_1.rda
attempt_3/results/rf_tuned.rda
attempt_3/results/svm_poly_tuned.rda
attempt_3/results/svm_radial_tuned.rda
attempt_3/setups/setup_1.rda
.git/objects/58/36cd7fe823acab8cbe887cee3b7c0bd5554406
.git/objects/5f/c3e1ff9f6abed351bbd84e69c01ad3ef7afbc6
.git/objects/b2/c1005196465a112f63a370fcf7f2d525ba3d12
.git/objects/bd/f903e5706ae813b5edd97ad37ca5477e59e1b5
.git/objects/f3/ea4fa7072df47ecd76e10f2df31ca0a9b693de
.git/objects/pack/pack-7ca4fdca1bea3bed91f68ea849ed81d70b451ae1.pack
.git/objects/7d/d7628ca52a1c1cebf5a67c9148c6c5e7a03196
.git/objects/8a/8bac5aa62376b554478fc54e9f17f2a388dfff
.git/objects/31/ee34e61851b12d5a3018e3895d682a18862d86
.git/objects/52/3fdd2077513398526d1c96122f787bc335fa11
.git/objects/97/5a74ea80f34b5f83d2b151cb89f11ed52d1056
.git/objects/d3/a9da0f9d14acc80802190cb5aff756b2529512
.git/objects/a6/6a3efc31bd0a9343f1dbedb05272b2b40621bf
.git/objects/f7/2654164411f6daeb86f41da29f19542cb0bfc4
.git/objects/12/a645b0ca447c7d7826ae80d96885127719dc2f
.git/objects/85/5ab7658c5d74cde4f7bb4996fee336374e04df
data/folds.rda

git rm --cached

# Attempt 4
attempt_4/results/en_tuned.rda
attempt_4/setups/setup_1.rda
